mars prb006.cwr ANTIIMP.CWR /m=100000 /p=5 /v 
CoreWar MARS V1.0 by GM 1993

PRB006.CWR

ANTIIMP.CWR

CoreWar MARS V1.0 Statistics:

Number of full wars         = 5
Maximal war length in steps = 100000
Queue length (Max. PCs)     = 64
Execute each other was enabled.

ProgNum   Average PC  Win     Lose    Progam name
1         62          4       0       PRB006.CWR
2         0           0       4       ANTIIMP.CWR
mars prb006.cwr CHANG.CWR /m=100000 /p=5 /v 
CoreWar MARS V1.0 by GM 1993

PRB006.CWR

CHANG.CWR

CoreWar MARS V1.0 Statistics:

Number of full wars         = 5
Maximal war length in steps = 100000
Queue length (Max. PCs)     = 64
Execute each other was enabled.

ProgNum   Average PC  Win     Lose    Progam name
1         64          0       0       PRB006.CWR
2         49          0       0       CHANG.CWR
mars prb006.cwr CHANG2.CWR /m=100000 /p=5 /v 
CoreWar MARS V1.0 by GM 1993

PRB006.CWR

CHANG2.CWR

CoreWar MARS V1.0 Statistics:

Number of full wars         = 5
Maximal war length in steps = 100000
Queue length (Max. PCs)     = 64
Execute each other was enabled.

ProgNum   Average PC  Win     Lose    Progam name
1         64          0       0       PRB006.CWR
2         50          0       0       CHANG2.CWR
mars prb006.cwr CREEPER.CWR /m=100000 /p=5 /v 
CoreWar MARS V1.0 by GM 1993

PRB006.CWR

CREEPER.CWR

CoreWar MARS V1.0 Statistics:

Number of full wars         = 5
Maximal war length in steps = 100000
Queue length (Max. PCs)     = 64
Execute each other was enabled.

ProgNum   Average PC  Win     Lose    Progam name
1         16          5       0       PRB006.CWR
2         0           0       5       CREEPER.CWR
mars prb006.cwr GABOR1.CWR /m=100000 /p=5 /v 
CoreWar MARS V1.0 by GM 1993

PRB006.CWR

GABOR1.CWR

CoreWar MARS V1.0 Statistics:

Number of full wars         = 5
Maximal war length in steps = 100000
Queue length (Max. PCs)     = 64
Execute each other was enabled.

ProgNum   Average PC  Win     Lose    Progam name
1         64          1       0       PRB006.CWR
2         14          0       1       GABOR1.CWR
mars prb006.cwr IMP.CWR /m=100000 /p=5 /v 
CoreWar MARS V1.0 by GM 1993

PRB006.CWR

IMP.CWR

CoreWar MARS V1.0 Statistics:

Number of full wars         = 5
Maximal war length in steps = 100000
Queue length (Max. PCs)     = 64
Execute each other was enabled.

ProgNum   Average PC  Win     Lose    Progam name
1         64          0       0       PRB006.CWR
2         1           0       0       IMP.CWR
mars prb006.cwr KILLER01.CWR /m=100000 /p=5 /v 
CoreWar MARS V1.0 by GM 1993

PRB006.CWR

KILLER01.CWR

CoreWar MARS V1.0 Statistics:

Number of full wars         = 5
Maximal war length in steps = 100000
Queue length (Max. PCs)     = 64
Execute each other was enabled.

ProgNum   Average PC  Win     Lose    Progam name
1         64          1       0       PRB006.CWR
2         51          0       1       KILLER01.CWR
mars prb006.cwr KILLER02.CWR /m=100000 /p=5 /v 
CoreWar MARS V1.0 by GM 1993

PRB006.CWR

KILLER02.CWR

CoreWar MARS V1.0 Statistics:

Number of full wars         = 5
Maximal war length in steps = 100000
Queue length (Max. PCs)     = 64
Execute each other was enabled.

ProgNum   Average PC  Win     Lose    Progam name
1         52          4       0       PRB006.CWR
2         13          0       4       KILLER02.CWR
mars prb006.cwr KILLER03.CWR /m=100000 /p=5 /v 
CoreWar MARS V1.0 by GM 1993

PRB006.CWR

KILLER03.CWR

CoreWar MARS V1.0 Statistics:

Number of full wars         = 5
Maximal war length in steps = 100000
Queue length (Max. PCs)     = 64
Execute each other was enabled.

ProgNum   Average PC  Win     Lose    Progam name
1         61          2       0       PRB006.CWR
2         26          0       2       KILLER03.CWR
mars prb006.cwr MICE.CWR /m=100000 /p=5 /v 
CoreWar MARS V1.0 by GM 1993

PRB006.CWR

MICE.CWR

CoreWar MARS V1.0 Statistics:

Number of full wars         = 5
Maximal war length in steps = 100000
Queue length (Max. PCs)     = 64
Execute each other was enabled.

ProgNum   Average PC  Win     Lose    Progam name
1         64          0       0       PRB006.CWR
2         64          0       0       MICE.CWR
mars prb006.cwr NONE.CWR /m=100000 /p=5 /v 
CoreWar MARS V1.0 by GM 1993

PRB006.CWR

NONE.CWR

CoreWar MARS V1.0 Statistics:

Number of full wars         = 5
Maximal war length in steps = 100000
Queue length (Max. PCs)     = 64
Execute each other was enabled.

ProgNum   Average PC  Win     Lose    Progam name
1         64          3       0       PRB006.CWR
2         13          0       3       NONE.CWR
mars prb006.cwr P.CWR /m=100000 /p=5 /v 
CoreWar MARS V1.0 by GM 1993

PRB006.CWR

P.CWR

CoreWar MARS V1.0 Statistics:

Number of full wars         = 5
Maximal war length in steps = 100000
Queue length (Max. PCs)     = 64
Execute each other was enabled.

ProgNum   Average PC  Win     Lose    Progam name
1         64          4       0       PRB006.CWR
2         13          0       4       P.CWR
mars prb006.cwr PRB001.CWR /m=100000 /p=5 /v 
CoreWar MARS V1.0 by GM 1993

PRB006.CWR

PRB001.CWR

CoreWar MARS V1.0 Statistics:

Number of full wars         = 5
Maximal war length in steps = 100000
Queue length (Max. PCs)     = 64
Execute each other was enabled.

ProgNum   Average PC  Win     Lose    Progam name
1         64          0       0       PRB006.CWR
2         52          0       0       PRB001.CWR
mars prb006.cwr PRB002.CWR /m=100000 /p=5 /v 
CoreWar MARS V1.0 by GM 1993

PRB006.CWR

PRB002.CWR

CoreWar MARS V1.0 Statistics:

Number of full wars         = 5
Maximal war length in steps = 100000
Queue length (Max. PCs)     = 64
Execute each other was enabled.

ProgNum   Average PC  Win     Lose    Progam name
1         63          1       0       PRB006.CWR
2         14          0       1       PRB002.CWR
mars prb006.cwr PRB003.CWR /m=100000 /p=5 /v 
CoreWar MARS V1.0 by GM 1993

PRB006.CWR

PRB003.CWR

CoreWar MARS V1.0 Statistics:

Number of full wars         = 5
Maximal war length in steps = 100000
Queue length (Max. PCs)     = 64
Execute each other was enabled.

ProgNum   Average PC  Win     Lose    Progam name
1         60          2       0       PRB006.CWR
2         29          0       2       PRB003.CWR
mars prb006.cwr PRB004.CWR /m=100000 /p=5 /v 
CoreWar MARS V1.0 by GM 1993

PRB006.CWR

PRB004.CWR

CoreWar MARS V1.0 Statistics:

Number of full wars         = 5
Maximal war length in steps = 100000
Queue length (Max. PCs)     = 64
Execute each other was enabled.

ProgNum   Average PC  Win     Lose    Progam name
1         62          0       0       PRB006.CWR
2         64          0       0       PRB004.CWR
mars prb006.cwr PRB005.CWR /m=100000 /p=5 /v 
CoreWar MARS V1.0 by GM 1993

PRB006.CWR

PRB005.CWR

CoreWar MARS V1.0 Statistics:

Number of full wars         = 5
Maximal war length in steps = 100000
Queue length (Max. PCs)     = 64
Execute each other was enabled.

ProgNum   Average PC  Win     Lose    Progam name
1         55          1       0       PRB006.CWR
2         51          0       1       PRB005.CWR
mars prb006.cwr PRB006.CWR /m=100000 /p=5 /v 
CoreWar MARS V1.0 by GM 1993

PRB006.CWR

PRB006.CWR

CoreWar MARS V1.0 Statistics:

Number of full wars         = 5
Maximal war length in steps = 100000
Queue length (Max. PCs)     = 64
Execute each other was enabled.

ProgNum   Average PC  Win     Lose    Progam name
1         64          0       0       PRB006.CWR
2         64          0       0       PRB006.CWR
mars prb006.cwr PRB007.CWR /m=100000 /p=5 /v 
CoreWar MARS V1.0 by GM 1993

PRB006.CWR

PRB007.CWR

CoreWar MARS V1.0 Statistics:

Number of full wars         = 5
Maximal war length in steps = 100000
Queue length (Max. PCs)     = 64
Execute each other was enabled.

ProgNum   Average PC  Win     Lose    Progam name
1         58          0       0       PRB006.CWR
2         55          0       0       PRB007.CWR
mars prb006.cwr PRB008.CWR /m=100000 /p=5 /v 
CoreWar MARS V1.0 by GM 1993

PRB006.CWR

PRB008.CWR

CoreWar MARS V1.0 Statistics:

Number of full wars         = 5
Maximal war length in steps = 100000
Queue length (Max. PCs)     = 64
Execute each other was enabled.

ProgNum   Average PC  Win     Lose    Progam name
1         64          1       0       PRB006.CWR
2         51          0       1       PRB008.CWR
mars prb006.cwr PRB009.CWR /m=100000 /p=5 /v 
CoreWar MARS V1.0 by GM 1993

PRB006.CWR

PRB009.CWR

CoreWar MARS V1.0 Statistics:

Number of full wars         = 5
Maximal war length in steps = 100000
Queue length (Max. PCs)     = 64
Execute each other was enabled.

ProgNum   Average PC  Win     Lose    Progam name
1         64          0       0       PRB006.CWR
2         53          0       0       PRB009.CWR
mars prb006.cwr ROHAMO.CWR /m=100000 /p=5 /v 
CoreWar MARS V1.0 by GM 1993

PRB006.CWR

ROHAMO.CWR

CoreWar MARS V1.0 Statistics:

Number of full wars         = 5
Maximal war length in steps = 100000
Queue length (Max. PCs)     = 64
Execute each other was enabled.

ProgNum   Average PC  Win     Lose    Progam name
1         64          2       0       PRB006.CWR
2         13          0       2       ROHAMO.CWR
mars prb006.cwr ROHANO.CWR /m=100000 /p=5 /v 
CoreWar MARS V1.0 by GM 1993

PRB006.CWR

ROHANO.CWR

CoreWar MARS V1.0 Statistics:

Number of full wars         = 5
Maximal war length in steps = 100000
Queue length (Max. PCs)     = 64
Execute each other was enabled.

ProgNum   Average PC  Win     Lose    Progam name
1         64          3       0       PRB006.CWR
2         13          0       3       ROHANO.CWR
mars prb006.cwr TEST.CWR /m=100000 /p=5 /v 
CoreWar MARS V1.0 by GM 1993

PRB006.CWR

TEST.CWR

CoreWar MARS V1.0 Statistics:

Number of full wars         = 5
Maximal war length in steps = 100000
Queue length (Max. PCs)     = 64
Execute each other was enabled.

ProgNum   Average PC  Win     Lose    Progam name
1         15          5       0       PRB006.CWR
2         0           0       5       TEST.CWR
mars prb006.cwr TORPE.CWR /m=100000 /p=5 /v 
CoreWar MARS V1.0 by GM 1993

PRB006.CWR

TORPE.CWR

CoreWar MARS V1.0 Statistics:

Number of full wars         = 5
Maximal war length in steps = 100000
Queue length (Max. PCs)     = 64
Execute each other was enabled.

ProgNum   Average PC  Win     Lose    Progam name
1         49          5       0       PRB006.CWR
2         0           0       5       TORPE.CWR
mars prb006.cwr VIKTOR01.CWR /m=100000 /p=5 /v 
CoreWar MARS V1.0 by GM 1993

PRB006.CWR

VIKTOR01.CWR

CoreWar MARS V1.0 Statistics:

Number of full wars         = 5
Maximal war length in steps = 100000
Queue length (Max. PCs)     = 64
Execute each other was enabled.

ProgNum   Average PC  Win     Lose    Progam name
1         64          0       0       PRB006.CWR
2         40          0       0       VIKTOR01.CWR
mars prb006.cwr VIKTOR02.CWR /m=100000 /p=5 /v 
CoreWar MARS V1.0 by GM 1993

PRB006.CWR

VIKTOR02.CWR

CoreWar MARS V1.0 Statistics:

Number of full wars         = 5
Maximal war length in steps = 100000
Queue length (Max. PCs)     = 64
Execute each other was enabled.

ProgNum   Average PC  Win     Lose    Progam name
1         64          0       0       PRB006.CWR
2         64          0       0       VIKTOR02.CWR
mars prb006.cwr VIKTOR03.CWR /m=100000 /p=5 /v 
CoreWar MARS V1.0 by GM 1993

PRB006.CWR

VIKTOR03.CWR

CoreWar MARS V1.0 Statistics:

Number of full wars         = 5
Maximal war length in steps = 100000
Queue length (Max. PCs)     = 64
Execute each other was enabled.

ProgNum   Average PC  Win     Lose    Progam name
1         64          0       0       PRB006.CWR
2         64          0       0       VIKTOR03.CWR
mars prb006.cwr VIKTOR04.CWR /m=100000 /p=5 /v 
CoreWar MARS V1.0 by GM 1993

PRB006.CWR

VIKTOR04.CWR

CoreWar MARS V1.0 Statistics:

Number of full wars         = 5
Maximal war length in steps = 100000
Queue length (Max. PCs)     = 64
Execute each other was enabled.

ProgNum   Average PC  Win     Lose    Progam name
1         42          4       0       PRB006.CWR
2         13          0       4       VIKTOR04.CWR
mars prb006.cwr VIKTOR05.CWR /m=100000 /p=5 /v 
CoreWar MARS V1.0 by GM 1993

PRB006.CWR

VIKTOR05.CWR

CoreWar MARS V1.0 Statistics:

Number of full wars         = 5
Maximal war length in steps = 100000
Queue length (Max. PCs)     = 64
Execute each other was enabled.

ProgNum   Average PC  Win     Lose    Progam name
1         64          0       0       PRB006.CWR
2         1           0       0       VIKTOR05.CWR
